<mat-grid>
  <mat-grid-item $[position]="[0, 0, 12, 1]">
    <app-widget-header>
      <app-widget-header-icon>
        <icon-power-socket-de></icon-power-socket-de>
      </app-widget-header-icon>
      <app-widget-header-title>
        {{ $.title$ }}
      </app-widget-header-title>
    </app-widget-header>
  </mat-grid-item>

  <mat-grid-item $[position]="[0, 1, 2, 2]">
    <app-thing-toggle-on-off-state-button
      $[property]="$.stateProperty$"
    ></app-thing-toggle-on-off-state-button>
  </mat-grid-item>

  <mat-grid-item $[position]="[2, 1, 3, 2]">
    <app-thing-power-consumption
      $[property]="$.consumptionProperty$"
    ></app-thing-power-consumption>
  </mat-grid-item>
</mat-grid>
