@use './widget-icon-button.variables' as widget-icon-button;

:host {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  //padding: 6px;
  user-select: none;
  border: 1px solid widget-icon-button.$widget-icon-button-border-color;
  border-radius: 6px;
  --mat-ripple-color: #{widget-icon-button.$widget-icon-button-ripple-color};

  fill: widget-icon-button.$widget-icon-button-color;

  & > svg {
    width: 100%;
    height: 100%;
  }

  @media (hover: hover) {
    &:hover {
      border-color: widget-icon-button.$widget-icon-button-border-color-hover;
      fill: widget-icon-button.$widget-icon-button-color-hover;
    }
  }
}
