$widget-icon-button-color: var(--widget-icon-button-color, #bbb);
$widget-icon-button-color--hover: var(--widget-icon-button-color--hover, #aaa);
$widget-icon-button-border-color: var(--widget-icon-button-border-color, #ddd);
$widget-icon-button-border-color--hover: var(--widget-icon-button-border-color--hover, #ccc);
$widget-icon-button-ripple-color: var(--widget-icon-button-ripple-color, rgb(0 0 0 / 0.05));
$widget-icon-button-icon-scale: var(--widget-icon-button-icon-scale, 1);
