//@import '../../../styles/mat.variables';

// computed in js
$mat-column-width: var(--mat-column-width, 0px);
$mat-column-page: var(--mat-column-page, 0);
$mat-column-drag: var(--mat-column-drag, 0px);

// variables
$mat-column-transition-duration: var(--mat-column-transition-duration, 200ms);
$mat-column-gap: var(--mat-column-gap, 8px);
$mat-column-gap-vertical: var(--mat-column-gap-vertical, $mat-column-gap);
$mat-column-gap-horizontal: var(--mat-column-gap-horizontal, $mat-column-gap);

$mat-column-padding: var(--mat-column-padding, 8px);
$mat-column-padding-vertical: var(--mat-column-padding-vertical, $mat-column-padding);
$mat-column-padding-horizontal: var(--mat-column-padding-horizontal, $mat-column-padding);

$mat-column-pagination-border-color: var(--mat-column-pagination-border-color, #ddd);
$mat-column-pagination-background-color: var(--mat-column-pagination-background-color, #fff);

