@import 'mat-column.variables';



:host {
  display: flex;
  font-size: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;

  & > * {
    width: 100%;
  }

  & > .content {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    touch-action: none;

    & > .columns {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;

      position: absolute;
      $offset-vertical: calc(#{$mat-column-padding-vertical} - #{$mat-column-gap-vertical} * 0.5);
      $offset-horizontal: calc(#{$mat-column-padding-horizontal} - #{$mat-column-gap-horizontal} * 0.5);
      top: #{$offset-vertical};
      bottom: #{$offset-vertical};
      left: #{$offset-horizontal};
      right: #{$offset-horizontal};
      overflow: visible;
      transform: translateX(calc((#{$mat-column-page} * -100%) + #{$mat-column-drag}));

      & > * {
        width: $mat-column-width;
        padding: calc(#{$mat-column-gap-vertical} * 0.5) calc(#{$mat-column-gap-horizontal} * 0.5);
      }
    }
  }

  &:not(.mat-dragging) {
    & > .content {
      & > .columns {
        transition: transform #{$mat-column-transition-duration};
      }
    }
  }

  & > .pagination {
    padding: 5px;
    border-top: 1px solid $mat-column-pagination-border-color;
    background-color: $mat-column-pagination-background-color;
  }
}
