
:host {
  display: block;

  height: 100%;
  width: 100%;

  &.dark-theme {
    --app-widgets-background-color: #222;
    --app-widget-background-color: #383838;
    --app-widget-border-color: #505050;

    --mat-column-pagination-background-color: #111;
    --mat-column-pagination-border-color: #333;

    --mat-button-color: #bbb;

    --mat-button-color-hover: #ccc;
    --mat-button-background-color--hover: #282828;

    --mat-pagination-button-color--selected: #ddd;
    --mat-pagination-button-background-color--selected: #333;

    --widget-header-icon-color: #ddd;
    --widget-header-title-color: #ccc;

    --widget-icon-toggle-button-color: #777;
    --widget-icon-toggle-button-color--hover: #888;
    --widget-icon-toggle-button-color--active: #3ea3bf;
    --widget-icon-toggle-button-color--hover-active: #47b9d9;
    --widget-icon-toggle-button-border-color: #aaa;
    --widget-icon-toggle-button-border-color--hover: #bbb;
    --widget-icon-toggle-button-border-color--active: #999;
    --widget-icon-toggle-button-border-color--hover-active: #aaa;
    --widget-icon-toggle-button-ripple-color: #{rgba(#fff, 0.1)};
  }
}
