
$widget-range-picker-border-color: var(--widget-range-picker-border-color, #ddd);
$widget-range-picker-text-color: var(--widget-range-picker-text-color, #666);
$widget-range-picker-thumb-background-color: var(--widget-range-picker-thumb-background-color, #ccc);
