
$app-widgets-background-color: var(--app-widgets-background-color, #fafafa);
$app-widget-background-color: var(--app-widget-background-color, #fff);
$app-widget-border-color: var(--app-widget-border-color, #eaeaea);

:host {
  display: block;
  background-color: $app-widgets-background-color;
  height: 100%;
  width: 100%;

  mat-column-item {
    & > * {
      padding: 6px;
      border: 1px solid $app-widget-border-color;
      border-radius: 4px;
      background-color: $app-widget-background-color;
    }
  }

  //& > mat-column {
  //  & > .content {
  //    & > mat-column-item {
  //      & > * {
  //        padding: 6px;
  //        border: 1px solid $app-widget-border-color;
  //        border-radius: 4px;
  //        background-color: $app-widget-background-color;
  //      }
  //    }
  //  }
  //}
}
