<mat-column $[minColumnWidth]="360">
  <mat-column-item>
    <app-smart-plug></app-smart-plug>
  </mat-column-item>
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
<!--  <mat-column-item>-->
<!--    <app-smart-plug></app-smart-plug>-->
<!--  </mat-column-item>-->
</mat-column>
