$widget-icon-toggle-button-color: var(--widget-icon-toggle-button-color, #ccc);
$widget-icon-toggle-button-color--hover: var(--widget-icon-toggle-button-color--hover, #bbb);
$widget-icon-toggle-button-color--active: var(--widget-icon-toggle-button-color--active, #66c1d9);
$widget-icon-toggle-button-color--hover-active: var(--widget-icon-toggle-button-color--hover-active, #4cd1f8);
$widget-icon-toggle-button-border-color: var(--widget-icon-toggle-button-border-color, #ddd);
$widget-icon-toggle-button-border-color--hover: var(--widget-icon-toggle-button-border-color--hover, #ccc);
$widget-icon-toggle-button-border-color--active: var(--widget-icon-toggle-button-border-color--active, #ddd);
$widget-icon-toggle-button-border-color--hover-active: var(--widget-icon-toggle-button-border-color--hover-active, #ccc);
$widget-icon-toggle-button-ripple-color: var(--widget-icon-toggle-button-ripple-color);
