@import './widget-icon-toggle-button.variables';
:host {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;

  & > app-widget-icon-button {
    --widget-icon-button-color: #{$widget-icon-toggle-button-color};
    --widget-icon-button-color-hover: #{$widget-icon-toggle-button-color-hover};
    --widget-icon-button-border-color: #{$widget-icon-toggle-button-border-color};
    --widget-icon-button-border-color-hover: #{$widget-icon-toggle-button-border-color-hover};
    --widget-icon-button-ripple-color: #{$widget-icon-toggle-button-ripple-color};
  }

  &.active {
    & > app-widget-icon-button {
      //box-shadow: inset 0 0 4px rgba(0 0 0 / 0.1);
      --widget-icon-button-color: #{$widget-icon-toggle-button-color-active};
      --widget-icon-button-color-hover: #{$widget-icon-toggle-button-color-hover-active};
      --widget-icon-button-border-color: #{$widget-icon-toggle-button-border-color-active};
      --widget-icon-button-border-color-hover: #{$widget-icon-toggle-button-border-color-hover-active};
      //--widget-icon-button-ripple-color: #{$widget-icon-toggle-button-ripple-color};
    }
  }
}
