<ul>
  <li *for="let item of $.items$; trackBy: $.trackBy">
    <rx-switch expression="item.get$('type')">
      <rx-switch-case case="'first'">
        <button
          #mat-button
          [disabled]="item.get$('disabled')"
          (click)$="$.getMatPaginationItemButtonOnClick(item.$)"
          aria-label="Go to first page"
        >
          <rx-inject-slot name="icon-first">
            <icon-page-first></icon-page-first>
          </rx-inject-slot>
        </button>
      </rx-switch-case>

      <rx-switch-case case="'previous'">
        <button
          #mat-button
          [disabled]="item.get$('disabled')"
          (click)$="$.getMatPaginationItemButtonOnClick(item.$)"
          aria-label="Go to previous page'"
        >
          <rx-inject-slot name="icon-prev">
            <icon-chevron-left></icon-chevron-left>
          </rx-inject-slot>
        </button>
      </rx-switch-case>

      <rx-switch-case case="'page'">
        <button
          #mat-button
          [disabled]="item.get$('disabled')"
          (click)$="$.getMatPaginationItemButtonOnClick(item.$)"
          [class.mat-selected]="item.get$('selected')"
          [attr.aria-label]="$.getPageAriaLabel(item.$)"
        >
          {{ $.getPageText(item.$) }}
        </button>
      </rx-switch-case>

      <rx-switch-case case="'ellipsis'">
        <div class="ellipsis">
          …
        </div>
      </rx-switch-case>

      <rx-switch-case case="'next'">
        <button
          #mat-button
          [disabled]="item.get$('disabled')"
          (click)$="$.getMatPaginationItemButtonOnClick(item.$)"
          aria-label="Go to next page"
        >
          <rx-inject-slot name="icon-next">
            <icon-chevron-right></icon-chevron-right>
          </rx-inject-slot>
        </button>
      </rx-switch-case>

      <rx-switch-case case="'last'">
        <button
          #mat-button
          [disabled]="item.get$('disabled')"
          (click)$="$.getMatPaginationItemButtonOnClick(item.$)"
          aria-label="Go to last page"
        >
          <rx-inject-slot name="icon-last">
            <icon-page-last></icon-page-last>
          </rx-inject-slot>
        </button>
      </rx-switch-case>
    </rx-switch>
  </li>
</ul>
