<mat-loading $[loading]="$.loading$">
  <div class="left-container">
    <app-widget-icon-button
      (click)="$.$onClickToggleModeButton"
      [title]="$.modeAsText$"
    >
      <rx-switch expression="$.mode$">
        <rx-switch-case case="'cct'">
          <icon-gradient-horizontal></icon-gradient-horizontal>
        </rx-switch-case>

        <rx-switch-case case="'rgb'">
          <icon-palette-outline></icon-palette-outline>
        </rx-switch-case>
      </rx-switch>
    </app-widget-icon-button>
  </div>

  <div class="right-container">
    <app-widget-range-picker
      class="temperature"
      $[min]="0"
      $[max]="1"
      $[step]="0.05"
      $[value]="$.temperaturePicker$"
      ${valueChange}="$.$temperaturePicker"
    ></app-widget-range-picker>

    <app-widget-range-picker
      class="brightness"
      $[min]="0"
      $[max]="1"
      $[step]="0.01"
      $[value]="$.brightnessPicker$"
      ${valueChange}="$.$brightnessPicker"
    ></app-widget-range-picker>

    <app-widget-color-picker
      class="rgb"
      $[value]="$.rgbPicker$"
      ${valueChange}="$.$rgbPicker"
    ></app-widget-color-picker>
<!--    <rx-switch expression="$.mode$">-->
<!--      <rx-switch-case case="'cct'">-->
<!--        <app-widget-range-picker-->
<!--          class="temperature"-->
<!--          $[min]="0"-->
<!--          $[max]="1"-->
<!--          $[step]="0.05"-->
<!--          $[value]="$.temperaturePicker$"-->
<!--          ${value}="$.$temperaturePicker"-->
<!--        ></app-widget-range-picker>-->

<!--        <app-widget-range-picker-->
<!--          class="brightness"-->
<!--          $[min]="0"-->
<!--          $[max]="1"-->
<!--          $[step]="0.01"-->
<!--          $[value]="$.brightnessPicker$"-->
<!--          ${value}="$.$brightnessPicker"-->
<!--        ></app-widget-range-picker>-->
<!--      </rx-switch-case>-->

<!--      <rx-switch-case case="'rgb'">-->
<!--        <app-widget-color-picker-->
<!--          class="rgb"-->
<!--          $[value]="$.rgbPicker$"-->
<!--          ${value}="$.$rgbPicker"-->
<!--        ></app-widget-color-picker>-->
<!--      </rx-switch-case>-->
<!--    </rx-switch>-->
  </div>
</mat-loading>
