@use '../thing-color-picker.variables' as thing-color-picker;

:host {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 0;

  gap: 4px;

  & > mat-loading {
    --mat-dual-ring-loader-color: #71abe7;

    & > .rgb {
      aspect-ratio: 1 / 1;
      height: 100%;
      width: auto;
    }

    & > .sliders {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex-grow: 1;

      & > .cold {
        @include thing-color-picker.cold-gradient-mixin;
      }

      & > .warm {
        @include thing-color-picker.warm-gradient-mixin;
      }
    }
  }
}
