
$widget-offline-border-color: var(--widget-offline-border-color, #ddd);
$widget-offline-background-color: var(--widget-offline-background-color, #eee);
$widget-offline-text-color: var(--widget-offline-text-color, #666);
